{{#if this.column.visible}}
  <td class="{{@class}} {{this.column.columnClass}} {{@theme.tbodyCell}}" ...attributes>
    {{yield
      (hash
        prop=this.column.prop
      )
    }}
  </td>
{{/if}}