$primary: #5B47B9;

@import "material";
@import "material-spinner";

.avatar {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  line-height: 36px;
  vertical-align: middle;
  display: inline-block;
}

.input {
  border-bottom-width: 2px;
  font-size: 14px;
  outline: none;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  width: 120px;

  &:focus {
    border-bottom-color: $primary;
  }
}
