$primary: #5B47B9;

@import "material";
@import "pagination-controls-example";
@import "material-spinner";

body {
  font-family:
    'Roboto',
    'system-ui',
    'BlinkMacSystemFont',
    '-apple-system',
    'Segoe UI',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    'sans-serif';
}

.avatar {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  line-height: 36px;
  vertical-align: middle;
  display: inline-block;
}

.input {
  border-bottom-width: 2px;
  font-size: 14px;
  outline: none;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  width: 120px;

  &:focus {
    border-bottom-color: $primary;
  }
}

// ember-cli-addon-docs overrides

.docs-bg-brand, body {
  background-color: $primary;
}

.docs-text-brand, .hover\:docs-text-brand:hover {
  color: $primary;
}

.docs-font-title {
  font-family: inherit;
}
