{{#docs-hero
  logo="ember"
  slimHeading="Yeti"
  strongHeading="Table"
  byline="Lightweight and flexible tables addon."}}
  {{svg-jar "yeti" width="100px" class="docs-mt-12"}}
{{/docs-hero}}

<div class="docs-container docs-md">
  <section class="docs-max-w-md docs-mx-auto docs-pb-8">

    {{#docs-demo class="main-page-demo" as |demo|}}
      {{#demo.example name="index-example.hbs"}}

        <YetiTable @data={{data}} as |t|>

          <t.header as |h|>
            <h.column @prop="firstName">
              First name
            </h.column>
            <h.column @prop="lastName">
              Last name
            </h.column>
            <h.column @prop="points">
              Points
            </h.column>
          </t.header>

          <t.body/>

        </YetiTable>

      {{/demo.example}}

      {{demo.snippet "index-example.hbs"}}
    {{/docs-demo}}

    <div class="my-16 text-right">
      {{#link-to
        "docs"
        class="docs-bg-grey-darkest docs-hover:docs-bg-black docs-text-white docs-py-2 docs-px-4 docs-no-underline docs-rounded"
      }}
        Read the docs →
      {{/link-to}}
    </div>
  </section>
</div>