<nav>
  {{#link-to "general"}}
    General usage
  {{/link-to}}

  {{#link-to "ordering"}}
    Ordering
  {{/link-to}}

  {{#link-to "pagination"}}
    Pagination
  {{/link-to}}
</nav>

<section>
  {{outlet}}
</section>